.ghostButton{
    background: #4ad295;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    border: 1px solid #4ad295;
    border-radius: 4px;
    transition: all 400ms ease;
}
.ghostButton:hover{
    background-color: transparent;
}
.itemValue{
    width: 3rem;
    margin-right: 1rem;
}